name: Develop CI

on:
  push:
    branches: [ "main" ]

jobs:
  build-develop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Set up Android SDK
        uses: android-actions/setup-android@v2

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Kotlinter
        run: ./gradlew lintKotlinCommonMain

      - name: Build with Gradle
        run: |
          ./gradlew build -x :sharedUI:compileKotlinIosArm64 -x  :sharedUI:compileKotlinIosSimulatorArm64

      # Upload test reports as an artifact
      - name: Upload Test Report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: '**/build/reports/tests/**'