name: Desktop MSI artifact CI

on:
  release:
    types: [ created ]

jobs:
  build-msi:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

        # Build the MSI file using the custom Gradle task
      - name: Package MSI
        run: ./gradlew packageReleaseMsi

        # Upload MSI as an artifact
      - name: Upload MSI as artifact
        uses: ncipollo/release-action@v1
        with:
          artifacts: 'desktopApp/build/compose/binaries/main-release/msi/*.msi'
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}