name: Android Release CI

on:
  release:
    types: [ created ]

jobs:
  build-release-android:
    permissions:
      contents: write
    name: Release APK
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Set up Android SDK
        uses: android-actions/setup-android@v2

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew :androidApp:assembleRelease

      - name: Upload Release Build
        uses: ncipollo/release-action@v1
        with:
          artifacts: 'androidApp/build/outputs/apk/release/com.albumsgenerator.app-*'
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}
